<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./home.css" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <div class="logo"></div>
      <div class="side"><button onclick="window.open('/signUp')" class="button">SignUp</button></div>
    </nav>
    <div class="page page1">
      <h1>For Investors</h1>
      <h3>
        <b>Indians Trusted</b> InvestEdge to learn, research and create wealth.
      </h3>
      <div id="img"></div>
    </div>
    <div class="page">
      <h1>What are you here for?</h1>
      <h3>Finology is here to help. Choose from below.</h3>
      <br />

      <div class="page2">
        <div class="card">
          <div class="image img1"></div>
          <h2>Demat Account</h2>
          <h4>Save on brokerage</h4>
        </div>

        <div class="card">
          <div class="image img2"></div>
          <h2>Learn Investing</h2>
          <h4>Courses that simplify it</h4>
        </div>
        <div class="card">
          <div class="image img3"></div>
          <h2>Screen Stocks</h2>
          <h4>Now made easy</h4>
        </div>
        <div class="card">
            <div class="image img4"></div>
            <h2>Stocks To Invest
              </h2>
            <h4>  Picked for long term</h4>
          </div>
        
    </div>
    </div>
    </div>
    <div class="page">
        <h1>Products for Investors
          </h1>
            <h3>  Solving Investors' problems every day.</h3>
    </div>
    

    <div id="bot"></div>
  </body>
</html>
